@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;

    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
    padding: 50px;
    
    background: var(--CinzaEscuro);
    box-shadow: inset;

    color: var(--CinzaClaro2);
}

h1 {
    font-size: 50px;
}

select {
    padding: 15px;
    margin: 50px 20px 30px 0px;
    
    width: 250px;

    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: var(--CinzaClaro2);

    background-color: var(--Preto);

    font-size: 16px;
    color: var(--CinzaClaro2);

    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 30px 3px;
}

button {
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: var(--CinzaClaro2);

    color: var(--CinzaClaro2);
    font-size: 16px;

    padding: 15px;
    background: var(--Preto);
}

section {
    margin: 30px 0px;

    display: flex;
    align-items: center;

    flex-direction: row;

    border-radius: 20px;

    background: var(--CinzaClaro);


    padding: 30px;
    gap: 30px;

    font-size: 32px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 30px 3px;
}

section, section div{
    color: var(--Branco);
}

h2 {
    font-size: 60px;
}


:root{
    --Preto: #010409;
    --CinzaEscuro: #0d1117;
    --CinzaClaro: #484f58;
    --CinzaClaro2: #6e7681;
    --Branco: #fff;
}
